language: php
php:
  - '5.5'
  - '5.6'
  - '7.0'
  - '7.1'
  - hhvm
  - nightly
  
dist: trusty

matrix:
  allow_failures:
    - php: hhvm
    - php: nightly
  fast_finish: true

before_script:
  - composer self-update

install:
  - composer install

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover
  
after_success:
  - bash <(curl -s https://codecov.io/bash)
